/* Create three equal columns that floats next to each other */
        * {
            text-decoration: none
        }

        hr {
            width: 30%;
            border-style: dotted none none none;
            border-width: 10px;
        }

        .column {
            float: left;
            width: 30%;
            padding: 15px;
            text-align: justify;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 800px) {
            .column {
                width: 100%;
                justify-content: space-between;
                

            }
        }
